*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h3{
   text-align: right;
   color: brown;
margin-right: 50px;
}
.container{
    margin: 40px;
    background-color: white;
}
form{
    background-color: rgba(224, 224, 224, 0.402);
    padding: 20px;
}
table{
    border-collapse: separate;
    border-spacing: 0 1em;
}
.for_align{
    vertical-align: top;
}
input,select,textarea{
    padding: 5px;
    border-radius: 4px;
    border: none;
    border: 1px solid gray;
    margin-left: 40px;
    
}
.input_wid{
    width: 160%;
}
button{
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}


